---
sudo: true
language: java
script:
  - sudo rm /etc/mavenrc
  - export MAVEN_OPTS="-Xmx2469m -XX:MaxPermSize=512m"
  - mvn clean install -P wildfly1000
jdk:
- oraclejdk8
branches:
  only:
  - master
notifications:
  email:
  - mail2jimma@gmail.com
