<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Test1190</servlet-name>
    <servlet-class>org.jboss.test.ws.jaxws.bp12.wsa.test1190.WsaTestPortTypeImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Test1192</servlet-name>
    <servlet-class>org.jboss.test.ws.jaxws.bp12.wsa.test1190.WsaTestPortType1192Impl</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>Test1192</servlet-name>
    <url-pattern>/Test1192</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>Test1190</servlet-name>
    <url-pattern>/Test1190</url-pattern>
  </servlet-mapping>
</web-app>